# ADS 2024

## US MARKET

In [12]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [13]:
data_2024 = pd.read_excel('US/ADS_US/NewEleven_US_01_01_2024-31_12_2024.xlsx')
data_2024.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Gross profit,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage
0,NewEleven Fathers Day Gift For Dad - Birthday ...,B0CG8N67SJ,FQ-Q5JW-E8TK,16357.0,184.0,354340.30,-831.60,-71875.32,-70564.63,-425.42,...,89646.04,89646.04,147414.16,NaN,25.30,154.00,13270.0,20.28,166325.0,9.83
1,"NewEleven Gifts For Mom, New Mother - Gifts Fo...",B0CRVTN11L,NaN,11002.0,190.0,197857.10,-972.93,-45011.39,-44931.79,-79.60,...,30239.75,30239.75,60740.15,NaN,15.28,98.15,9357.0,22.75,61129.0,18.00
2,NewEleven Gifts For Mom - Birthday Gifts For M...,B0C9BZRC4K,YM-PHWT-7K9Y,9408.0,277.0,155019.23,-527.64,-35673.62,-35268.24,-9.63,...,20653.39,20653.39,41308.39,NaN,13.32,98.03,22950.0,23.01,72928.0,12.90

In [14]:
data_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Product                   419 non-null    object
 1   ASIN                      419 non-null    object
 2   SKU                       393 non-null    object
 3   Units                     404 non-null    float64
 4   Refunds                   346 non-null    float64
 5   Sales                     404 non-null    float64
 6   Promo                     248 non-null    float64
 7   Ads                       329 non-null    float64
 8   Sponsored products (PPC)  324 non-null    float64
 9   Sponsored Display         235 non-null    float64
 10  Sponsored brands (HSA)    47 non-null     float64
 11  Sponsored Brands Video    30 non-null     float64
 12  Google
ads                0 non-null      float64
 13  Facebook
ads              0 non-null      float64
 14  % Refunds                 346 non-null    float64
 15  Sellable Quota            400 non-null    object
 16  Refund сost               347 non-null    float64
 17  Amazon fees               410 non-null    float64
 18  Cost of Goods             395 non-null    float64
 19  Shipping                  0 non-null      float64
 20  Gross profit              410 non-null    float64
 21  Net profit                410 non-null    float64
 22  Estimated payout          410 non-null    float64
 23  Expenses                  0 non-null      float64
 24  Margin                    404 non-null    float64
 25  ROI                       395 non-null    float64
 26  BSR                       405 non-null    float64
 27  Real ACOS                 329 non-null    float64
 28  Sessions                  413 non-null    float64
 29  Unit Session Percentage   401 non-null    float64
dtypes: float64(26), object(4)
memory usage: 98.3+ KB

In [15]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_US_2024")

set_with_dataframe(sheet1, data_2024)

## CA MARKET

In [18]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [19]:
data_2024 = pd.read_excel('CA/ADS_CA/NewEleven_CA_01_01_2024-31_12_2024.xlsx')
data_2024.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Gross profit,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage
0,"NewEleven Gifts For Mom - Gifts For Mother, Wo...",B07Y7ZQ265,F1-10S9-NASK,1002.0,16.0,15395.25,NaN,-1508.19,-1508.19,NaN,...,633.43,633.43,6392.83,NaN,4.11,10.90,NaN,9.80,12774,7.84
1,NewEleven Christmas Gift For Dad - Birthday Gi...,B097B9SY89,NaN,812.0,17.0,13910.76,NaN,-2886.91,-2886.91,NaN,...,-839.39,-839.39,4468.44,NaN,-6.03,-15.64,NaN,20.75,15341,5.29
2,NewEleven Gifts For Mom - Birthday Gifts For M...,B0CJX4XSXB,S8-FINW-47HP,812.0,9.0,14795.99,NaN,-1686.06,-1686.06,NaN,...,3543.36,3543.36,6614.64,NaN,23.95,114.23,NaN,11.40,7166,11.33

In [20]:
data_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Product                   54 non-null     object
 1   ASIN                      54 non-null     object
 2   SKU                       48 non-null     object
 3   Units                     52 non-null     float64
 4   Refunds                   41 non-null     float64
 5   Sales                     52 non-null     float64
 6   Promo                     0 non-null      float64
 7   Ads                       39 non-null     float64
 8   Sponsored products (PPC)  39 non-null     float64
 9   Sponsored Display         0 non-null      float64
 10  Sponsored brands (HSA)    0 non-null      float64
 11  Sponsored Brands Video    0 non-null      float64
 12  Google
ads                0 non-null      float64
 13  Facebook
ads              0 non-null      float64
 14  % Refunds                 41 non-null     float64
 15  Sellable Quota            52 non-null     object
 16  Refund сost               43 non-null     float64
 17  Amazon fees               52 non-null     float64
 18  Cost of Goods             52 non-null     float64
 19  Shipping                  0 non-null      float64
 20  Gross profit              53 non-null     float64
 21  Net profit                53 non-null     float64
 22  Estimated payout          53 non-null     float64
 23  Expenses                  0 non-null      float64
 24  Margin                    52 non-null     float64
 25  ROI                       52 non-null     float64
 26  BSR                       2 non-null      float64
 27  Real ACOS                 38 non-null     float64
 28  Sessions                  54 non-null     int64
 29  Unit Session Percentage   52 non-null     float64
dtypes: float64(25), int64(1), object(4)
memory usage: 12.8+ KB

In [21]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_CA_2024")

set_with_dataframe(sheet1, data_2024)

## UK MARKET

In [22]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [23]:
data_2024 = pd.read_excel('UK/ADS_UK/NewEleven_UK_01_01_2024-31_12_2024.xlsx')
data_2024.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Gross profit,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage
0,Neweleven Gifts for Mum - Mum Birthday Present...,B07Y7ZQ265,NaN,2160.0,27.0,34483.82,NaN,-6272.73,-6272.73,NaN,...,2283.57,2283.57,15283.73,NaN,6.62,31.02,60425.0,18.19,20241.0,10.67
1,"NEWELEVEN Dad Birthday Gift from Daughter, Son...",B0CQ2HR9WG,TF-LM3I-IIEP,1975.0,30.0,33990.20,NaN,-5966.99,-5936.30,-30.69,...,4077.85,4077.85,15971.83,NaN,12.00,64.60,NaN,17.56,20182.0,9.79
2,NewEleven Leaving Gifts for Colleagues Women M...,B09XDFF8FF,57-A3W5-BOLZ,1390.0,7.0,27209.36,NaN,-1351.78,-1351.78,NaN,...,7874.17,7874.17,17304.31,NaN,28.94,160.36,273044.0,4.97,28344.0,4.90

In [24]:
data_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Product                   30 non-null     object
 1   ASIN                      30 non-null     object
 2   SKU                       27 non-null     object
 3   Units                     28 non-null     float64
 4   Refunds                   26 non-null     float64
 5   Sales                     28 non-null     float64
 6   Promo                     0 non-null      float64
 7   Ads                       26 non-null     float64
 8   Sponsored products (PPC)  26 non-null     float64
 9   Sponsored Display         2 non-null      float64
 10  Sponsored brands (HSA)    0 non-null      float64
 11  Sponsored Brands Video    0 non-null      float64
 12  Google
ads                0 non-null      float64
 13  Facebook
ads              0 non-null      float64
 14  % Refunds                 26 non-null     float64
 15  Sellable Quota            28 non-null     object
 16  Refund сost               28 non-null     float64
 17  Amazon fees               30 non-null     float64
 18  Cost of Goods             28 non-null     float64
 19  VAT                       28 non-null     float64
 20  Shipping                  27 non-null     float64
 21  Gross profit              30 non-null     float64
 22  Net profit                30 non-null     float64
 23  Estimated payout          30 non-null     float64
 24  Expenses                  0 non-null      float64
 25  Margin                    28 non-null     float64
 26  ROI                       28 non-null     float64
 27  BSR                       18 non-null     float64
 28  Real ACOS                 26 non-null     float64
 29  Sessions                  28 non-null     float64
 30  Unit Session Percentage   26 non-null     float64
dtypes: float64(27), object(4)
memory usage: 7.4+ KB

In [25]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_UK_2024")

set_with_dataframe(sheet1, data_2024)

# ADS 2025

## US MARKET

In [39]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [40]:
# Quarter 1
data_2025_Q1 = pd.read_excel('US/ADS_US/NewEleven_US_01_01_2025-31_03_2025.xlsx')
data_2025_Q1["Quarter"] = 1
data_2025_Q1.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,NewEleven 50th Birthday Gifts For Men Women - ...,B0DH7YGD9Q,EC-NYJH-0YZA,2564.0,57.0,53929.74,-578.85,-18364.04,-17593.75,-83.96,...,5680.67,13981.34,NaN,10.53,67.34,9149.0,34.05,10893.0,23.54,1
1,"NewEleven Gifts For Mom, New Mother - Gifts Fo...",B0CRVTN11L,NaN,2151.0,67.0,37867.64,-283.23,-12904.24,-12859.80,-44.44,...,290.12,6192.52,NaN,0.77,4.81,6276.0,34.08,12391.0,17.36,1
2,NewEleven Retirement Gift For Woman 2025 - Coo...,B0DH88L44J,3E-J0TV-6W9S,2062.0,57.0,49854.89,-229.85,-14530.12,-14357.37,-144.63,...,2861.53,11938.01,NaN,5.74,30.98,10389.0,29.14,14123.0,14.60,1

In [41]:
# Quarter 2
data_2025_Q2 = pd.read_excel('US/ADS_US/NewEleven_US_01_04_2025-30_06_2025.xlsx')
data_2025_Q2["Quarter"] = 2
data_2025_Q2.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,"NewEleven Gifts For Mom, Birthday Gifts For Mo...",B0DVSKXLS5,UI-VXIT-1YW7,12144.0,174.0,262858.86,-570.24,-62411.45,-60624.56,-1327.33,...,79255.26,103290.48,NaN,30.15,327.04,5177.0,23.74,131186.0,9.26,2
1,NewEleven Fathers Day Gift For Dad - Birthday ...,B0CG8N67SJ,FQ-Q5JW-E8TK,9779.0,116.0,204566.86,-714.99,-89188.76,-86660.34,-2528.42,...,-720.81,33864.59,NaN,-0.35,-2.07,1728.0,43.60,83180.0,11.76,2
2,"NewEleven Fathers Day Gift For Dad, Birthday G...",B0DVSKBSWN,GE-UCH3-MNIE,6801.0,112.0,126054.17,-1002.12,-88148.54,-83379.06,-3636.87,...,-31867.16,-17426.44,NaN,-25.28,-218.99,5177.0,69.93,84212.0,8.08,2

In [42]:
# Append data
data_2025 = pd.concat([data_2025_Q1, data_2025_Q2], ignore_index=True)

In [43]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_US_2025")

set_with_dataframe(sheet1, data_2025)

## CA MARKET

In [46]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [47]:
# Quarter 1
data_2025_Q1 = pd.read_excel('CA/ADS_CA/NewEleven_CA_01_01_2025-31_03_2025.xlsx')
data_2025_Q1["Quarter"] = 1
data_2025_Q1.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,NewEleven 50th Birthday Gifts For Men Women - ...,B0DH83T7MF,RP-GISO-TOFC,554.0,8.0,10822.30,NaN,-1228.88,-1228.88,NaN,...,3158.14,5249.83,NaN,29.18,149.62,NaN,11.36,3010.0,18.41,1
1,NewEleven 40th Birthday Gifts For Men Women - ...,B0DH7PQ1RX,7N-6OBC-K7DN,294.0,3.0,5263.18,NaN,-624.29,-624.29,NaN,...,1385.79,2520.69,NaN,26.33,120.86,NaN,11.86,1437.0,20.46,1
2,NewEleven 60th Birthday Gifts For Men Women - ...,B0DHCFTYVW,06-AGXV-L5EK,288.0,4.0,5341.37,NaN,-607.62,-607.62,NaN,...,1521.50,2611.16,NaN,28.49,138.66,NaN,11.38,1574.0,18.30,1

In [48]:
# Quarter 2
data_2025_Q2 = pd.read_excel('CA/ADS_CA/NewEleven_CA_01_04_2025-30_06_2025.xlsx')
data_2025_Q2["Quarter"] = 2
data_2025_Q2.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,NewEleven Fathers Day Gift For Dad - Birthday ...,B0CM5RJ8VD,1J-71GS-RJFC,1033.0,10.0,19043.27,-149.98,-3613.99,-3541.19,-72.8,...,2650.89,6702.72,NaN,13.92,65.30,NaN,18.98,13185.0,7.83,2
1,NewEleven 50th Birthday Gifts For Men Women - ...,B0DH83T7MF,RP-GISO-TOFC,511.0,4.0,11070.98,NaN,-1355.29,-1355.29,NaN,...,3372.98,5304.65,NaN,30.47,173.25,NaN,12.24,3035.0,16.84,2
2,NewEleven Gifts For Mom - Birthday Gifts For M...,B0CJX4XSXB,S8-FINW-47HP,468.0,7.0,9484.35,NaN,-2633.40,-2633.40,NaN,...,1080.17,2852.65,NaN,11.39,60.42,NaN,27.77,4652.0,10.06,2

In [49]:
# Append data
data_2025 = pd.concat([data_2025_Q1, data_2025_Q2], ignore_index=True)

In [ ]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_CA_2025")

# Clear và push dữ liệu
sheet1.clear()  # Clear 
set_with_dataframe(sheet1, data_2025) # Push

## UK MARKET

In [51]:
import pandas as pd
import os
import sys
import re

import gspread
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from google.oauth2.service_account import Credentials

In [52]:
# Quarter 1
data_2025_Q1 = pd.read_excel('UK/ADS_UK/NewEleven_UK_01_01_2025-31_03_2025.xlsx')
data_2025_Q1["Quarter"] = 1
data_2025_Q1.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,Neweleven Gifts for Mum - Mum Birthday Present...,B07Y7ZQ265,NaN,537.0,7.0,7519.60,-56.58,-2789.97,-2789.97,NaN,...,-1400.71,1661.01,NaN,-18.63,-76.07,15478,37.10,3545.0,15.15,1
1,NEWELEVEN Gifts for Auntie - Auntie Birthday P...,B0CQK1NB66,IS-0T6V-VNCQ,374.0,8.0,5735.30,-9.52,-448.53,-448.53,NaN,...,950.66,2908.24,NaN,16.58,92.92,37043,7.82,1257.0,29.75,1
2,"NEWELEVEN Dad Birthday Gift from Daughter, Son...",B0CQ2HR9WG,TF-LM3I-IIEP,267.0,6.0,4945.38,NaN,-346.70,-346.70,NaN,...,1241.58,2896.87,NaN,25.11,145.14,34296,7.01,2654.0,10.06,1

In [53]:
# Quarter 2
data_2025_Q2 = pd.read_excel('UK/ADS_UK/NewEleven_UK_01_04_2025-30_06_2025.xlsx')
data_2025_Q2["Quarter"] = 2
data_2025_Q2.head(3)

,Product,ASIN,SKU,Units,Refunds,Sales,Promo,Ads,Sponsored products (PPC),Sponsored Display,...,Net profit,Estimated payout,Expenses,Margin,ROI,BSR,Real ACOS,Sessions,Unit Session Percentage,Quarter
0,NEWELEVEN Gifts for Auntie - Auntie Birthday P...,B0CQK1NB66,IS-0T6V-VNCQ,576.0,6.0,8637.42,NaN,-775.81,-775.81,NaN,...,1430.92,4487.58,NaN,16.57,87.17,18925,8.98,1734.0,33.22,2
1,"NEWELEVEN Dad Birthday Gift from Daughter, Son...",B0CQ2HR9WG,TF-LM3I-IIEP,479.0,4.0,8032.75,NaN,-1420.11,-1395.98,-24.13,...,719.18,3564.48,NaN,8.95,47.12,33005,17.68,5006.0,9.57,2
2,NEWELEVEN Bridal Shower Gifts - Wedding Presen...,B08R8R7T36,JR-WJ96-HH29,373.0,3.0,6034.96,NaN,-1055.77,-1055.77,NaN,...,218.29,2742.69,NaN,3.62,14.27,34361,17.49,1960.0,19.03,2

In [54]:
# Append data
data_2025 = pd.concat([data_2025_Q1, data_2025_Q2], ignore_index=True)

In [55]:
scopes = ["https://www.googleapis.com/auth/spreadsheets", 
          "https://www.googleapis.com/auth/drive"]
creds = Credentials.from_service_account_file("/Users/ppcintern/Desktop/Keyword_Analysis/new_credential.json", scopes=scopes)
client = gspread.authorize(creds)

# Mở Google Sheet
sheet_id = "1p3JWtN9HH1HxvARmx34Tmbt2iAjoYhK9fWIHgQr4PDE"

# Mở file Google Sheet (Spreadsheet object)
spreadsheet = client.open_by_key(sheet_id)
sheet1 = client.open_by_key(sheet_id).worksheet("ADS_UK_2025")

set_with_dataframe(sheet1, data_2025)